@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

body{
  background-color: #bedce3;
  justify-content: center;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: #6cb4b8;
  font-family: 'Pangolin', cursive;
}

#question {
  font-size:80px;
  text-align: center;
  font-family: 'Pangolin', cursive;
  color: #fd6822;
}

#answer {
  font-size: 50px;
  text-align: center;
  font-weight: 500;
  display: block;
  margin: 0 auto;
  background-color: #e3dcd5;
  border-radius: 0.3em;
  border: none;
  outline: none;
  cursor: pointer;
  color: #23234c;
  padding: 35px 35px;
  font-family: 'Pangolin', cursive;
}

#message {
  font-size: 2em;
  color: #fd6822;
  font-family: 'Pangolin', cursive;
  font-weight: 500;
  text-align: center;
}

#button {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Pangolin', cursive;
  margin: 10px;
}

#submit{
  background-color: #6cb4b8;
  margin-left: 43%;
  font-size: 33px;
  font-family: 'Pangolin', cursive;
  }


#restart{
background-color: #6cb4b8;
margin-right: 28%;
font-size: 33px;
font-family: 'Pangolin', cursive;
}