@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

body{
  background-color: #bedce3;
  background-image: url('https://i.imgur.com/fWJQYtw.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}

h1 {
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  color: #6cb4b8;
  text-shadow: 3px 3px 7px #fd6822;
  font-family: 'Pangolin', cursive;
}

#question {
  font-size:80px;
  font-weight: 500;
  text-shadow: 3px 3px 7px #e3dcd5;
  text-align: center;
  font-family: 'Pangolin', cursive;
  color: #fd6822;
}

#answer {
  font-size: 50px;
  text-align: center;
  font-weight: 500;
  display: block;
  margin: 0 auto;
  background-color: #e3dcd5;
  border-radius: 0.3em;
  border: none;
  outline: none;
  cursor: pointer;
  color: #23234c;
  padding: 35px 35px;
  font-family: 'Pangolin', cursive;
}

#message {
  font-size: 2em;
  color: #fd6822;
  font-family: 'Pangolin', cursive;
  font-weight: 500;
  text-align: center;
}

#button {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Pangolin', cursive;
  margin: 10px;
}

#submit{
  background-color: #6cb4b8;
  font-size: 33px;
  font-family: 'Pangolin', cursive;
  }

#button{
  display: flex;
  justify-content: center;
  align-items: center;
}
#restart{
background-color: #6cb4b8;
font-size: 33px;
font-family: 'Pangolin', cursive;
}